<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" value="text/html;chaset=utf-8">
  <style>
    %include reports.css%
  </style>
  <title>Cloud Migration Service Compatibility Report</title>
</head>
<body class="body">
<table width="100%">
	<tbody>
		<tr>
			<td><table class="tableView" cellpadding="2"> 
				<tbody>
					<tr>
						<td class="title" colspan="5">Services incompatible with DADA or Edge deployment &nbsp;</th>
					</tr>
					<tr>
					  <td colspan="3">Report date: %value timestamp%
					</tr>
					<tr>
						<td class="heading" colspan="5" align="center">Dependents of services not currently supported &nbsp;</th>
					</tr>
					%ifvar unsupportedReferences%
					<tr>
					  <th>Referenced Package &nbsp;</th>
					  <th>Referenced Service &nbsp;</th>
					  <th>Dependent Package &nbsp;</th>
					  <th>Dependent Service &nbsp;</th>
					</tr>
					%loop unsupportedReferences%
					<tr>
					  <td>%value refPackageName% &nbsp;</td>
					  <td>%value referencedAsset% &nbsp;</td>
					  <td>%value dependentPackage% &nbsp;</td>
					  <td>%value dependentAsset% &nbsp;</td>
					</tr>
					%endloop%
					<tr>
						<td class="subHeading" colspan="6">%value numUnsupportedReferences% dependencies found. &nbsp;</td>
					</tr>
					%else%
					<tr>
						<td class="subHeading" colspan="5">No unsupported dependencies found. &nbsp;</td>
					</tr>
					%endif%
					<tr>
						<td colspan-"4"> &nbsp;</td>
					</tr>
				</tbody>
			</table></td>
		</tr>	
			<td><table class="tableView" cellpadding="2"> 
				<tbody>
					<tr>
						<td class="heading" colspan="5" align="center">Services with unsupported settings &nbsp;</th>
					</tr>
					%ifvar servicesBadSettings%
					<tr>
					  <th>Package &nbsp;</th>
					  <th>Service &nbsp;</th>
					  <th>Stateless &nbsp;</th>
					  <th>Pipeline Debug &nbsp;</th>
					  <th>Audit Enabled &nbsp;</th>
					</tr>
					%loop servicesBadSettings%
					<tr>
					  <td>%value package% &nbsp;</td>
					  <td>%value name% &nbsp;</td>
					  <td>%value stateless% &nbsp;</td>
					  <td>%value pipelineDebug% &nbsp;</td>
					  <td>%value enableAuditing% &nbsp;</td>
					</tr>
					%endloop%
					<tr>
						<td class="subHeading" colspan="6">%value numBadSettings% services found. &nbsp;</td>
					</tr>
					%else%
					
					<tr>
						<td class="subHeading" colspan="5">No services with unsupported settings found. &nbsp;</td>
					</tr>
					%endif%
				</tbody>
			</td></table>
		</tr>
	<tbody>
</table>
</body>
</html>  